/* ----------------------------------------- */
/*  Font Faces                               */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  CSS Variables                            */
/* ----------------------------------------- */
.rafales {
  --color-background: #0b0909;
  --color-text: #eee8df;
  --color-primary: var(--color-text);
  --color-secondary: #d7c4a9;
  --color-tertiary: #b6967c;
  --color-header: #cac5ba;
  --color-sidebar: #cfc7bb;
  --color-h1: #cfbea2;
  --color-frame: #3f3128;
  --color-frame-bg: #1c1a1a;
  --color-accent: #cf9356;
  --color-link-text: #f36739;
  --color-border-highlight: var(--color-accent);
  /*
  --font-h1: "AwerySmallcaps", serif;
  --font-body: "Constantia", serif;
  --font-quote: "CaslonAntique", serif;
  --font-sans: "Signika", sans-serif;
  --font-size-15: 0.9375rem;*/
}
.rafales h1,
.rafales h2,
.rafales h3,
.rafales h4 {
  color: var(--color-h1);
  border: none;
}
/* ----------------------------------------- */
/*  Application V2 Styles                    */
/* ----------------------------------------- */
.rafales.application {
  --color-header-background: transparent;
  --color-form-label: var(--color-h1);
  --color-form-label-hover: var(--color-primary);
  --color-form-hint: var(--color-tertiary);
  --color-form-hint-hover: var(--color-secondary);
  background: var(--color-cool-5);
  gap: 0;
}
.rafales.application .window-header {
  border-bottom: none;
}
.rafales.application .window-header .window-title {
  color: var(--color-secondary);
}
.rafales.application .window-header .header-control {
  color: var(--color-secondary);
}
.rafales.application .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: none;
  object-fit: cover;
  object-position: top right;
}
.rafales.application .window-content {
  padding: 0;
}
