/* ----------------------------------------- */
/*  Font Faces                               */
/* ----------------------------------------- */
@font-face {
  font-family: "agaramondpro";
  src: url("./fonts/agaramondpro-regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "agaramondpro";
  src: url("./fonts/agaramondpro-bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "agaramondpro";
  src: url("./fonts/agaramondpro-italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "agaramondpro";
  src: url("./fonts/agaramondpro-semibold.ttf") format("truetype");
  font-weight: 600;
  /* Semibold */
  font-style: normal;
}
@font-face {
  font-family: "bakatoo1";
  src: url("./fonts/bakatoo.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "zarielrafale";
  src: url("./fonts/zarielrafale-regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "bakatoo";
  src: url("./fonts/baka_too_regular.otf");
  font-style: normal;
}
@font-face {
  font-family: "fugu";
  src: url("./fonts/fugu_regular.ttf") format("truetype");
  font-style: normal;
}
/* ----------------------------------------- */
/*  CSS Variables                            */
/* ----------------------------------------- */
.rafales {
  --color-background: #0b0909;
  --color-text: #1c1a1a;
  --color-primary: var(--color-text);
  --color-secondary: #d7c4a9;
  --color-tertiary: #b6967c;
  --color-header: #cac5ba;
  --color-sidebar: #cfc7bb;
  --color-h1: #cfbea2;
  --color-frame: #3f3128;
  --color-frame-bg: #1c1a1a;
  --color-accent: #cf9356;
  --color-link-text: #f36739;
  --color-border-highlight: var(--color-accent);
  --font-standard: "fugu", Arial, sans-serif;
}
.chat-message.message {
  background: var(--color-cool-5);
  background-image: url("./assets/fond.webp");
}
.rafales.application {
  --color-header-background: transparent;
  --color-form-label: var(--color-h1);
  --color-form-label-hover: var(--color-primary);
  --color-form-hint: var(--color-tertiary);
  --color-form-hint-hover: var(--color-secondary);
  background: var(--color-cool-5);
  background-image: url("./assets/fond.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  gap: 0;
}
.rafales.application .window-header .window-title {
  color: var(--color-text);
}
.rafales.application .window-header .header-control {
  color: var(--color-text);
}
.rafales.application .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: none;
  object-fit: cover;
  object-position: top right;
}
.rafales.application .window-content {
  padding: 0;
}
.rafales.application h1,
.rafales.application h2,
.rafales.application h3,
.rafales.application h4 {
  color: var(--color-h1);
  border: none;
}
.rafales .horde {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 0 10px 0;
  min-width: 560px;
}
.rafales .horde input[type="checkbox"]::before {
  color: #671006;
}
.rafales .horde .nom {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.rafales .horde .nom .nom-label {
  font-family: var(--font-standard);
  font-size: 1.8rem;
  color: #671006;
}
.rafales .horde .nom input {
  font-family: var(--font-standard);
  font-size: 3rem;
  width: 100px;
  text-align: center;
  border: none;
  background-color: inherit;
}
.rafales .horde .cohesion {
  grid-row: 1 / 3;
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rafales .horde .cohesion .cohesion-name {
  font-family: "zarielrafale", Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.rafales .horde .cohesion .cohesion-img {
  width: 240px;
  height: 160px;
}
.rafales .horde .cohesion .cohesion-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rafales .horde .cohesion input {
  width: 50px;
  text-align: center;
  border: none;
  background-color: inherit;
}
.rafales .horde .image {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  display: flex;
  justify-content: flex-end;
}
.rafales .horde .image img {
  height: 100px;
  width: auto;
  border: none;
  margin-right: 10px;
}
.rafales .horde .connaissance {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rafales .horde .connaissance .connaissance-name {
  font-family: "agaramondpro", Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: bold;
}
.rafales .horde .connaissance .connaissance-input {
  margin-left: 30px;
}
.rafales .horde .connaissance .connaissance-input .connaissance-img {
  width: 30px;
  border: none;
  align-items: center;
}
.rafales .horde .vitalite {
  grid-row: 4 / 6;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rafales .horde .vitalite .vitalite-name {
  font-family: "zarielrafale", Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.rafales .horde .vitalite .vitalite-img {
  width: 200px;
  height: 200px;
  transform: rotate(-90deg);
}
.rafales .horde .vitalite .vitalite-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rafales .horde .vitalite input {
  width: 50px;
  text-align: center;
  border: none;
  background-color: inherit;
}
.rafales .horde .espoir {
  grid-row: 6 / 7;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rafales .horde .espoir .espoir-name {
  font-family: "agaramondpro", Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: bold;
}
.rafales .horde .espoir .espoir-input {
  margin-left: 30px;
}
.rafales .horde .espoir .espoir-input .espoir-img {
  width: 30px;
  border: none;
  align-items: center;
}
.rafales .horde .conviction {
  grid-row: 4 / 6;
  grid-column: 3 / 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rafales .horde .conviction .conviction-name {
  font-family: "zarielrafale", Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.rafales .horde .conviction .conviction-img {
  width: 200px;
  height: 200px;
  transform: rotate(90deg);
}
.rafales .horde .conviction .conviction-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rafales .horde .conviction input {
  width: 50px;
  text-align: center;
  border: none;
  background-color: inherit;
}
.rafales .horde .vif {
  grid-row: 6 / 7;
  grid-column: 3 / 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rafales .horde .vif .vif-name {
  font-family: "agaramondpro", Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: bold;
}
.rafales .horde .vif .vif-input {
  margin-left: 35px;
}
.rafales .horde .vif .vif-input .vif-img {
  width: 30px;
  border: none;
  align-items: center;
}
.rafales .horde .cohesion-img,
.rafales .horde .vitalite-img,
.rafales .horde .conviction-img {
  border: none;
}
.rafales .horde input[type="checkbox"]:checked::after {
  color: #671006;
}
.rafales .horde input[type="checkbox"]:checked::before {
  color: #f5f3f1;
}
.rafales .horde .cache {
  visibility: hidden;
}
.rafales .hordier {
  min-width: 780px;
}
.rafales .hordier .hordier-header {
  display: flex;
  justify-content: space-between;
}
.rafales .hordier .hordier-header .hordier-header-gauche img {
  width: 150px;
  height: auto;
  border: none;
}
.rafales .hordier .hordier-header .hordier-header-milieu .nom,
.rafales .hordier .hordier-header .hordier-header-milieu .horde-nom,
.rafales .hordier .hordier-header .hordier-header-milieu .hordier-role {
  display: flex;
  align-items: center;
  margin: 10px 0 0 20px;
  gap: 10px;
}
.rafales .hordier .hordier-header .hordier-header-milieu .nom .nom-label {
  font-family: var(--font-standard);
  font-size: 1.8rem;
  color: #671006;
}
.rafales .hordier .hordier-header .hordier-header-milieu .nom input {
  font-family: var(--font-standard);
  font-size: 1.8rem;
  width: 400px;
  background-color: inherit;
  margin-left: 10px;
}
.rafales .hordier .hordier-header .hordier-header-milieu .hordier-role {
  font-family: var(--font-standard);
  font-size: 1.8rem;
  color: #671006;
}
.rafales .hordier .hordier-header .hordier-header-milieu .hordier-role .role {
  font-family: var(--font-standard);
  font-size: 2rem;
  width: 200px;
  background-color: inherit;
  color: black;
  margin-left: 10px;
}
.rafales .hordier .hordier-header .hordier-header-milieu .hordier-role .role:first-letter {
  text-transform: uppercase;
}
.rafales .hordier .hordier-header .hordier-header-milieu .hordier-role input[type="checkbox"]:checked::after {
  color: #671006;
}
.rafales .hordier .hordier-header .hordier-header-milieu .hordier-role input[type="checkbox"]:checked::before {
  color: white;
}
.rafales .hordier .hordier-header .hordier-header-milieu .hordier-role select {
  font-family: "agaramondpro", Arial, sans-serif;
  font-size: 1.4rem;
  width: 200px;
  background-color: inherit;
}
.rafales .hordier .hordier-header .hordier-header-milieu .horde-nom {
  font-family: var(--font-standard);
  font-size: 1.8rem;
  color: #671006;
}
.rafales .hordier .hordier-header .hordier-header-milieu .horde-nom input {
  font-family: var(--font-standard);
  font-size: 1.8rem;
  width: 70px;
  background-color: inherit;
}
.rafales .hordier .hordier-header .hordier-header-droite {
  display: flex;
  padding: 10px 10px 0 0;
}
.rafales .hordier .hordier-header .hordier-header-droite img {
  width: 100px;
  height: auto;
  border: none;
}
.rafales .hordier fieldset {
  margin: 10px 20px 0 20px;
  border-radius: 10px;
}
.rafales .hordier fieldset legend {
  font-family: var(--font-standard);
  font-size: 1.8rem;
  padding: 0 5px 0 5px;
  letter-spacing: 4px;
  color: #671006;
  font-weight: bold;
}
.rafales .hordier i {
  font-size: 1rem;
  color: black;
}
.rafales .hordier .lien {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 0 0;
}
.rafales .hordier .lien .lien-label {
  font-family: var(--font-standard);
  font-size: 1.3rem;
  width: 200px;
}
.rafales .hordier .lien .lien-nom {
  width: 250px;
  background-color: inherit;
}
.rafales .hordier .lien .lien-lien {
  width: 100%;
  background-color: inherit;
}
.rafales .hordier prose-mirror {
  font-family: "zarielrafale", Arial, sans-serif;
}
.rafales .carnet {
  margin: 10px;
}
.rafales .adversite-content {
  display: flex;
  flex-direction: column;
  font-family: var(--font-standard);
  font-size: 1.8rem;
  color: #671006;
  text-align: center;
}
.rafales .adversite-content .adversity-adversity div {
  height: 40px;
}
.rafales .adversite-content .adversity-adversity .adversity-spend {
  display: flex;
  gap: 10px;
  margin: 0 10px 0 10px;
}
.rafales .adversite-content .adversity-adversity .adversity-spend button {
  font-family: "agaramondpro", Arial, sans-serif;
  font-size: 1rem;
  color: #671006;
}
.rafales .adversite-content .adversity-adversity .adversity-spend button:hover {
  background-color: #671006;
  color: white;
}
.rafales .adversite-content .adversity-horde {
  margin-top: 10px;
}
.rafales .adversite-content .adversity-horde div {
  height: 40px;
}
.rafales .rafales-roll-dialog {
  font-family: "agaramondpro", Arial, sans-serif;
  color: #671006;
}
.rafales .rafales-roll-dialog .dialog-dangerosite {
  margin: 20px 10px 10px 10px;
}
.rafales .rafales-roll-dialog .dialog-dangerosite select {
  font-family: "agaramondpro", Arial, sans-serif;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  border: none;
  background-color: inherit;
}
.rafales .rafales-roll-dialog legend {
  font-size: 1.4rem;
  font-weight: bold;
}
.rafales .form-footer button {
  font-family: "agaramondpro", Arial, sans-serif;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  border: none;
  margin: 0 10px 10px 10px;
  color: #671006;
}
.rafales .form-footer button:hover {
  background-color: #671006;
  color: white;
}
.rafales.dice-roll {
  flex-direction: column;
}
.rafales.dice-roll .dice-total,
.rafales.dice-roll .dice-formula {
  padding-top: 5px;
}
.rafales.dice-roll .dice-total {
  margin-bottom: 5px;
}
.rafales.dice-roll .message-header {
  font-family: var(--font-primary);
}
.rafales.dice-roll img {
  border: 0px;
}
.rafales.dice-roll .intro-chat {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.rafales.dice-roll .intro-chat .intro-img {
  padding: 5px;
  width: 60px;
  align-self: center;
}
.rafales.dice-roll .intro-chat .intro-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-standard);
  font-size: 1.4rem;
  color: #671006;
  width: 210px;
  margin-left: 5px;
}
.rafales.dice-roll .intro-chat .intro-right .introText {
  margin: 5px 0 0 0;
  text-align: center;
}
.rafales.dice-roll .intro-chat .intro-right .introTextMJ {
  margin: 0;
  text-align: center;
}
.rafales.dice-roll .result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "agaramondpro", Arial, sans-serif;
  font-size: 1.4rem;
  color: #671006;
}
.rafales.dice-roll .result .adversity-spend button {
  margin: 3px 0 2px 0;
  color: #671006;
}
.rafales.dice-roll .dice-result {
  padding-top: 10px;
  width: 100%;
}
i.rafales {
  width: 36px;
  height: 36px;
  background-image: url("./assets/icon_menu.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  filter: grayscale(1);
  transition: 0.3s;
}
i.adversite {
  width: 36px;
  height: 36px;
  background-image: url("./assets/icon_adversite.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  filter: grayscale(1);
  transition: 0.3s;
}
#pause > img {
  content: url("./assets/pause.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}
