{{log "roll-dialog" this}}
<div class="rafales-roll-dialog">
  <div class="dialog-dangerosite">
    <fieldSet>
      <legend>{{localize "RAFALES.Roll.dangerosite"}}</legend>
      <select name="dangerosite">
        {{selectOptions choiceDangerosite}}
      </select>
    </fieldSet>
  </div>
</div>