.adversite-content {
  display: flex;
  flex-direction: column;
  font-family: "bakatoo", Arial, sans-serif;
  font-size: 1.8rem;
  color: #671006;
  text-align: center;
  div {
    height: 40px;
  }
}
