/* ----------------------------------------- */
/*  Application V2 Styles                    */
/* ----------------------------------------- */
.rafales.application {
  --color-header-background: transparent;
  --color-form-label: var(--color-h1);
  --color-form-label-hover: var(--color-primary);
  --color-form-hint: var(--color-tertiary);
  --color-form-hint-hover: var(--color-secondary);
  background: var(--color-cool-5);
  gap: 0;
}
.rafales.application .window-header {
  border-bottom: none;
}
.rafales.application .window-header .window-title {
  color: var(--color-secondary);
}
.rafales.application .window-header .header-control {
  color: var(--color-secondary);
}
.rafales.application .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: none;
  object-fit: cover;
  object-position: top right;
}
.rafales.application .window-content {
  padding: 0;
}
