&.dice-roll {
  flex-direction: column;

  .dice-total,
  .dice-formula {
    padding-top: 5px;
  }
  .dice-total {
    margin-bottom: 5px;
  }
  .message-header {
    font-family: var(--font-primary);
  }
  img {
    border: 0px;
  }
  .intro-chat {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    .intro-img {
      padding: 5px;
      width: 80px;
      align-self: center;
    }
    .intro-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: "bakatoo", Arial, sans-serif;
      font-size: 1.4rem;
      color: #671006;
      width: 210px;
      margin-left: 20px;
    }
  }

  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "agaramondpro", Arial, sans-serif;
    font-size: 1.4rem;
    color: #671006;
  }
}
