.grid-horde {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
  padding-top: 20px;
}
.grid-horde .cohesion {
  grid-row: 1 / 3;
  grid-column: 2 / 4;
}
.grid-horde .cohesion .cohesion-img {
  width: 300px;
  height: 200px;
}
.grid-horde .cohesion .cohesion-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.grid-horde .cohesion input {
  width: 50px;
  text-align: center;
}
.grid-horde .connaissance {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
}
.grid-horde .vitalite {
  grid-row: 4 / 6;
  grid-column: 1 / 3;
}
.grid-horde .vitalite .vitalite-img {
  width: 300px;
  height: 200px;
}
.grid-horde .vitalite .vitalite-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.grid-horde .vitalite input {
  width: 50px;
  text-align: center;
}
.grid-horde .espoir {
  grid-row: 6 / 7;
  grid-column: 1 / 3;
}
.grid-horde .conviction {
  grid-row: 4 / 6;
  grid-column: 3 / 5;
}
.grid-horde .conviction .conviction-img {
  width: 300px;
  height: 200px;
}
.grid-horde .conviction .conviction-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.grid-horde .conviction input {
  width: 50px;
  text-align: center;
}
.grid-horde .vif {
  grid-row: 6 / 7;
  grid-column: 3 / 5;
}
.grid-horde .cohesion-img,
.grid-horde .vitalite-img,
.grid-horde .conviction-img {
  width: 300px;
  height: 200px;
  border: none;
}
