.hordier {
  .hordier-header {
    .nom,
    .horde-nom {
      display: flex;
      align-items: center;
      margin: 10px 0 0 20px;
      gap: 10px;
    }

    .nom {
      .nom-label {
        font-family: "bakatoo", Arial, sans-serif;
        font-size: 1.8rem;
      }

      input {
        font-family: "bakatoo", Arial, sans-serif;
        font-size: 1.8rem;
        width: 400px;
        background-color: inherit;
      }
    }
    .horde-nom {
      font-family: "bakatoo", Arial, sans-serif;
      font-size: 1.8rem;
      input {
        font-family: "bakatoo", Arial, sans-serif;
        font-size: 1.8rem;
        width: 70px;
        background-color: inherit;
      }
    }
  }

  fieldset {
    margin: 10px 20px 0 20px;
    border-radius: 10px;
    legend {
      font-family: "bakatoo", Arial, sans-serif;
      font-size: 1.8rem;
      padding: 0 5px 0 5px;
      letter-spacing: 4px;
    }
  }

  i {
    font-size: 1rem;
  }

  .lien {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 0 0;
    .lien-label {
      width: 150px;
    }
    .lien-nom {
      width: 250px;
    }
    .lien-lien {
      width: 100%;
    }
  }
}
