@import "./fonts.less";
@import "./variables.less";
@import "./applications.less";

.rafales {
  @import "./horde.less";
  @import "./hordier.less";
  @import "./carnet.less";
  @import "./adversite.less";
  @import "./dialog.less";
  @import "./chat.less";
}

i.rafales {
  width: 36px;
  height: 36px;
  background-image: url("./ui/menu.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  filter: grayscale(1);
  transition: 0.3s;
}
